# For Docker
PORT=8080

# For Docker compose
DB_NAME=family_calendar
DB_PASSWORD=your_secure_password_here
# Generate a secure secret key using: python -c "import secrets; print(secrets.token_hex(32))"
SECRET_KEY=YOUR-SECRET-KEY

# For Backend
# Format: mysql+pymysql://username:password@host:port/database_name
DATABASE_URL=mysql+pymysql://username:password@localhost:3306/family_calendar
# SECRET_KEY=YOUR-SECRET-KEY
APP_NAME=Family Calendar API
DEBUG=True
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080